@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

:root {
  --bg-main: #fcfcf5;
  --main-dark: #222224;
}

body {
  background-color: var(--bg-main);
  color: var(--main-dark);

  @media (min-width: 3500px) {
    font-size: 2em;

    .text-lg {
      font-size: 2em;
    }

    .lg\:text-9xl,
    .md\:text-9xl {
      font-size: 6em;
      line-height: 1em;
    }
    .lg\:text-8xl,
    .md\:text-8xl {
      font-size: 5em;
      line-height: 1em;
    }
    .lg\:text-7xl,
    .md\:text-7xl {
      font-size: 4em;
    }
    .lg\:text-6xl,
    .md\:text-6xl {
      font-size: 3em;
    }
    .lg\:p-5 {
      padding: 40px;
    }
  }
}

a:focus,
a:active {
  outline: none;
  box-shadow: none;
}
.main-dark {
  color: var(--main-dark);
  fill: var(--main-dark);
}

h1,
h2,
h3 {
  font-family: 'Space Grotesk', sans-serif;

  line-height: 1em;
}
p {
  font-family: 'Source Code Pro', monospace;
  text-wrap: pretty;
}

.media-box {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
}

.three-img-group {
  @media (min-width: 1024px) {
    img {
      width: calc(33.333% - 40px);
    }
  }
}
